.meals_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 650px;
    padding-top: 10px;
}

.entry_container {
    border-top: 0px;
}

.entry_container button:hover {
    color: white;
    transition: 0.5s;
    background-color: #3e9697
}

.entry_container button:focus {
    box-shadow: none;
}

.meal-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
}

.meal-data:hover .meal-delete_button > svg{
    color: rgb(26, 26, 26);
    transition: 0.2s;
}

.meal-data_entry {
    margin-left: 12px;
    width: 100px;
}

.total-meals {
    background-color: #E9E9E9;
}

.meal-delete_button > svg{
    color: #E9E9E9;
    margin-left: 13px;
    height: 27px;
    width: 27px;
}
