.meals_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 650px;
    padding-top: 10px;
}

.meal-container {

}

.meal-data{
    display: flex;
    flex-direction: row;
}

.meal-data_entry {
    margin-left: 12px;
    width: 100px;
}
