.footer-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: lightgray;
}

.top {
    height: 60%;
    width: 100%;
    background-color: #F5F5F5;
}

.bottom {
    height: 40%;
    width: 100%;
    background-color: #2C7A7B;
}
