/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

.homepage-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5fb;

}

.mainpage-container {
    display: flex;
    width: 750px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 50px;
}

.mainpage-container > h1 {
    font-size: 25px;
    padding-bottom: 8px;
}

.post-button {
    margin-top: 100px;
    width: 150px;
    height: 70px;
    /* background-color: red; */
}


/* LOGIN PAGE CSS */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.login-container > img {
    position: unset;
    width: 100%;
    height: 100%;
}

.content {
    margin-top: 12px;
}

.form-container {
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
}

.form-info-background {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 320px;
    position: absolute;
    background-color:#008080;
    border-radius: 5px;
    align-items: center;
    opacity: 0.5;
}

.form-info {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 320px;
    /* background-color:#00544F; */
    border-radius: 5px;
    align-items: center;
    /* box-shadow: 2px 5px; */
}

.form-info > h1 {
    font-size: 23px;
    margin-top: 3px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    height: 100px;
}

.form-img{
    margin-top: 20px;
    width: 200px;
    height: 51.236px;

}

/* .form-inner {
    margin-top: 80px;
} */


.login-input {
    width: 250px;
    height: 35px;
    margin-top: 8px;
    border-radius: 3px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.form-buttons button {
    width: 119px;
    height: 35px;
    background-color: #109e9e;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    color: white;
}

.form-buttons button:hover{
    transition: .5s;
    background-color: #1aafaf;

}

.form-footer {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    color: white;
    font-size: 14px;
}

.form-footer > a {
    margin-left: 5px;
}

.form-footer > a:hover {
    color: lightgrey;
    transition: .3s;
}


/* WORKOUT FORM */

.workout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workout-form input {
    border: 2px solid #008080;
    width: 270px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.workout-form input:hover {
    border: 2px solid #109e9e;
    transition: .3s;
}

.workout-form input:focus {

}

.workout-form_input {
    background-color: #008080;
    width: 270px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
}

.workout-form_input:hover{
    background-color: #109e9e;
    transition: .3s;
}

.chakra-modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MEAL FORM CSS */

.meal-form_container {

}

.meal-form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.meal-title {
    width: 100%;
}

.meal-title input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.input_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.meal-inputs_left {
    display: flex;
    width: 285px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal-inputs_left input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.meal-inputs_right {
    display: flex;
    width: 285px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal-inputs_right input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.meal-form > button {
    width: 100%;
    height: 30px;
    background-color: #008080;
    color: white;
    border-radius: 5px;
}

.post-button > button {
    height: 75px;
    width: 75px;
}

.post-button > button > svg {
    height: 75px;
    width: 75px;
}


/* SIGNUP FORM */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: #FAFAFA;
}

.signup-container > img {
    position: unset;
    width: 100%;
    height: 100%;
}

.solid-form {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 350px;
    border-radius: 5px;
}

.signup-form_container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    background-color: #008080;
    opacity: 0.5;
}

.solid-form > img {
    margin-top: 15px;
    margin-bottom: 25px;
}

.solid-form > h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 550;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form input {
    width: 75%;
    height: 35px;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: rgb(233, 232, 232);
}

.signup-form button {
    width: 75%;
    height: 35px;
    border-radius: 3px;
    margin-top: 5px;
    background-color: #109e9e;
    color: white;
}

.signup-form button:hover {
    background-color: #1aafaf;
    transition: 0.5s;
}

.signup-footer {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 85px;
    font-size: 14px;
}

.signup-footer a {
    margin-left: 5px;
}

.signup-footer a:hover {
    color: lightgrey;
    transition: 0.3s;
}
