/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

.homepage-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5fb;

}

.mainpage-container {
    display: flex;
    width: 750px;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;

}

.mainpage-container > h1 {
    font-size: 25px;
    padding-bottom: 8px;
}

.post-button {
    margin-top: 100px;
    width: 150px;
    height: 70px;
    /* background-color: red; */
}

.post-button > button {

}

/* LOGIN PAGE CSS */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.login-container > img {
    position: unset;
    width: 100%;
    height: 100%;
}

.form-container {
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
}

.form-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color:#00544F;
    border-radius: 5px;
    align-items: center;

}

.form-img{
    margin: auto;
}

.form-inner {
    margin-top: 80px;
}



.login-input {
    width: 210px;
    margin-top: 15px;
    border-radius: 5px;
}
